<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport"-->
          <!--content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <title> {$seo_title} </title>
    <meta name="description" content="{$seo_description}">
    <meta name="keywords" content="{$seo_keyword}">

    <script src="__CDN__/assets/pc/lib/jquery-3.3.1.min.js"></script>


    <?php
            if ($visitDevice=='mobile'){
        ?>
    <link rel="stylesheet" href="__CDN__/assets/pc/css/mobile_common.css?v={$asset_version}">
    <?php
        }else{
           ?>
    <link rel="stylesheet" href="__CDN__/assets/pc/css/common.css?v={$asset_version}">
    <?php
        }
        ?>




    <link rel="stylesheet" href="__CDN__/assets/pc/css/contactus_index.css?v={$asset_version}">
    <link rel="stylesheet" href="__CDN__/assets/pc/swiper/swiper.min.css?v={$asset_version}">
    <script src="__CDN__/assets/pc/swiper/swiper.min.js"></script>

</head>


<body>
<div class="container" name="top">
    {include file='common/header' /}

    <div class="nav_container">
        <img src="{$banner.image_url}" alt="{$banner.name}" />
    </div>

    {include file='component/search_box' /}

    <div class="main_box">

        <div class="main_left">
            <div class="main_left_item {if condition='1 eq $this_category_id'} category_item_highlight {/if}"
                onclick="windows_jump('/contact_company')">
                公司简介
            </div>
            <div class="main_left_item {if condition='2 eq $this_category_id'} category_item_highlight {/if}"
                 onclick="windows_jump('/contact_us')">
                 联系我们
            </div>
        </div>

        <div class="main_right">
            <div class="info_title_text">
                公司简介 | About Gezi
            </div>

            <div class="company_description">
                {$row.company_description}
            </div>

            <div class="info_title_text">
                公司文化 | culture
            </div>


            <div class="culture_box">
                <div class="culture_item">
                    <div class="culture_item_text">
                        公司精神
                    </div>
                    <div class="culture_item_name">
                        {$row.company_spirit}
                    </div>
                </div>
                <div class="culture_item">
                    <div class="culture_item_text">
                        核心价值观
                    </div>
                    <div class="culture_item_name">
                        {$row.company_value_view}
                    </div>
                </div>
                <div class="culture_item">
                    <div class="culture_item_text">
                        经营理念
                    </div>
                    <div class="culture_item_name">
                        {$row.company_manage_theory}
                    </div>
                </div>
                <div class="culture_item">
                    <div class="culture_item_text">
                        公司愿景
                    </div>
                    <div class="culture_item_name">
                        {$row.company_dream}
                    </div>
                </div>
            </div>

            <div class="info_title_text">
                荣誉证书 | Certificates
            </div>

            <div class="Certificates_box">

                <img src="{$row.image_url}" alt="戈子科技荣誉证书" />

            </div>

        </div>

    </div>


    {include file='common/bottom' /}

</div>

{include file='common/baidubridge' /}
</body>

{include file='common/checkPcVisit' /}
<script>



    function windows_jump(url) {
        window.location.href= url;
    }






</script>
</html>