<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {$seo_title} </title>
    <meta name="description" content="{$seo_description}">
    <meta name="keywords" content="{$seo_keyword}">

    <script src="__CDN__/assets/pc/lib/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="__CDN__/assets/mobile/css/common.css?v={$asset_version}">
    <link rel="stylesheet" href="__CDN__/assets/mobile/css/mobile_customcase_index.css?v={$asset_version}">

    <link rel="stylesheet" href="__CDN__/assets/pc/swiper/swiper.min.css?v={$asset_version}">
    <script src="__CDN__/assets/pc/swiper/swiper.min.js"></script>

    <link rel="stylesheet" href="__CDN__/assets/mobile/css/component/paginate.css?v={$asset_version}">

</head>
<body>

<div class="container" name="top">

    {include file='common/mobileheader' /}

    <div class="nav_container">
        <img src="{$banner.image_url}" alt="{$banner.name}" />
    </div>

    <div class="case_box">

        {foreach name="case_list" item="vo" key="k"}

        <div class="case_item">

            <div class="case_img">
                <img src="{$vo.image_url}" alt="{$vo.name}">
            </div>
            <div class="case_title">
                <span>{$vo.name}</span>
            </div>

            <div class="case_see_detail">
                <a href="/mobile_customcase_detail/{$vo.id}">
                <span>查看详情</span>
                </a>
            </div>

        </div>

        {/foreach}

    </div>

    <div class="page_box" >
        <div class="paginate_container">

            <div class="paginate_item last_page " onclick="last_page()">
                上一页
            </div>

            {foreach name="pageIndexList" item="vo"}
            <div  class="paginate_item each_page {if $vo == $params.pageIndex} page_active {/if}  "
                  onclick="changePage({$vo});" > {$vo}
            </div>
            {/foreach}

            <div class="paginate_item each_page page_three_point">
                ...
            </div>

            <div class="paginate_item next_page" onclick="next_page()">
                下一页
            </div>

        </div>
    </div>

    {include file='common/mobilefooter' /}

</div>

</body>

<script>

    var params = {
        'pageIndex':"{$params.pageIndex}",
        'eachPage':"{$params.eachPage}",
        'category_id':"{$params.category_id}"
    };

    function windows_jump() {
//        var url = "/index/customcase/index?";
        var url = "/mobile_customcase/"+params.category_id+"?";
        for(var i in params){
            if(params[i] != ''){
                url += '&'+ i + '=' + params[i];
            }
        }
        window.location.href= url;
    }

    function change_category_id(category_id) {
        params.pageIndex = 1;
        params.category_id = category_id;
        windows_jump();
    }



    function changePage(index) {
        params.pageIndex = index;
        windows_jump();
    }

    function first_page() {
        params.pageIndex = 1;
        windows_jump();
    }

    function next_page() {
        params.pageIndex = Number(params.pageIndex) + 1;
        if(params.pageIndex < 1){
            params.pageIndex = 1;
        }
        windows_jump();
    }

    function last_page() {
        params.pageIndex = Number(params.pageIndex) - 1;
        if(params.pageIndex < 1){
            params.pageIndex = 1;
        }
        windows_jump();
    }

    function changePageInput(obj) {
        var value = $('#input_page_page_number').val();
        params.pageIndex = Number(value);
        windows_jump();
    }



</script>

</html>