<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {$seo_title} </title>
    <meta name="description" content="{$seo_description}">
    <meta name="keywords" content="{$seo_keyword}">

    <script src="__CDN__/assets/pc/lib/jquery-3.3.1.min.js"></script>


    <?php
            if ($visitDevice=='mobile'){
        ?>
    <link rel="stylesheet" href="__CDN__/assets/pc/css/mobile_common.css?v={$asset_version}">
    <?php
        }else{
           ?>
    <link rel="stylesheet" href="__CDN__/assets/pc/css/common.css?v={$asset_version}">
    <?php
        }
        ?>

    <link rel="stylesheet" href="__CDN__/assets/pc/css/product_category_index.css?v={$asset_version}">

    <link rel="stylesheet" href="__CDN__/assets/pc/swiper/swiper.min.css?v={$asset_version}">

    <script src="__CDN__/assets/pc/swiper/swiper.min.js"></script>

    {include file='common/headerheader' /}
</head>


<body>
<div class="container" name="top">
    {include file='common/header' /}

    <div class="nav_container">
        <img src="{$banner.image_url}" alt="{$banner.name}" />
    </div>

    {include file='component/search_box' /}

    <div class="category_box">

        {foreach name="menu_product_category_list" item="vo" key="k"}
        <div class="category_item  {if condition='$vo.id eq $row.id '} category_item_highlight {/if} "
             onclick="change_category_id('{$vo.id}')">
            {$vo.name}
        </div>
        {/foreach}

    </div>

    <div class="main_box">
        <div class="product_list_box">

            {foreach name="product_list" item="vo" key="k"}
            <div class="product_list_item">

                <div class="product_image_box">

                    <div class="product_image">
                        <img src="{$vo.single_image}" alt="{$vo.name}" />
                    </div>


                    <div class="product_name_text">
                        {$vo.name}
                    </div>

                    <div class="product_description_text">
                        {$vo.description}
                    </div>

                    <div class="product_see_detail_text">
                        <a href="/product/{$vo.id}">了解详情</a>
                    </div>

                </div>


            </div>
            {/foreach}

        </div>
    </div>






    {include file='common/bottom' /}

</div>

{include file='common/baidubridge' /}
</body>

{include file='common/checkPcVisit' /}
<script>

    var params = {
        'id':"{$row.id}"
    };

    function windows_jump() {
//        var url = "/index/product/product_category_index?";
        var url = "/product_cate/"+params.id+"?";
        for(var i in params){
            if(params[i] != ''){
                url += '&'+ i + '=' + params[i];
            }
        }
        window.location.href= url;
    }

    function change_category_id(category_id) {
        params.id = category_id;
        windows_jump();
    }


</script>
</html>