
.nav_container{
    max-height: 500px;
}

.nav_container img{
    max-height: 500px;
}


.company_introduce_box{

    height: 400px;
    color: white;

    background:url(/assets/pc/image/首页切图/素材切图/02.png);
    background-size:100% 100%;
    background-repeat:no-repeat;


    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;

}

.company_introduce_title{
    padding: 50px 200px;
    text-align: center;
    font-size: 24px;
}

.company_introduce_description{

    height: 75px;

    padding: 10px 100px;
    text-align: left;
    font-size: 16px;

    overflow:hidden;
    display:-webkit-box;
    text-overflow:ellipsis;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    white-space:normal;
}


.company_introduce_more_box{
    margin-top: 70px;

    width: 200px;
    height: 60px;
    font-size: 24px;
    background-color: rgb(150,154,156);
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    opacity: 0.8;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,58,58,58);
    cursor: pointer;
}

.company_introduce_more_box a{
    text-align: center;
    text-decoration: none;
    color: white;
}


.provide_box{
    background-color: white;
    padding: 20px 190px;
}

.provide_header{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.provide_header_item{
    margin: 5px 10px;
}

.provide_text{
    font-size: 18px;
    font-weight: bold;
    color: rgb(127,127,127);
}

.provide_divider {
    height: 2px;
    width: 200px;
    background-color: rgb(142,142,142);
}

.provide_body{
    margin-top: 20px;
}

.provide_item{
    width: 110px;
    height: 220px;

    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:flex-end;
    align-items: center;
}

.provide_item img{
    width: 70px;
}
.provide_product_name{
    color: rgb(94,94,94);
    font-size: 15px;
    margin-top: 20px;
}


.single_product_box{
    background-color: rgb(19,178,254);
    padding: 20px 200px;
    height: 450px;


    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
}

.single_product_img{
    width: 350px;
    height: 350px;
}

.single_product_img img{
    width: 300px;
    max-height: 300px;
}

.single_product_content{
    margin-left: 70px;

    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: flex-start;
}

.single_product_name{
    font-size: 22px;
    color: white;
    margin-left: 10px;
}

.single_product_box_hide{display: none}

.single_product_util_list{
    margin-top: 20px;
    width: 200px;
    height: 150px;

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
}

.each_util{
    color: white;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 5px;
}


.single_product_see_more{
    background-color: white;
    padding: 15px;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 20px;
    color: rgb(63,179,245);
    border-radius: 5px;
    cursor: pointer;
}

.single_product_see_more a{
    text-decoration: none;
}


.single_solution_box{

    height: 530px;
    width: 100%;

    background:url(/assets/pc/image/index/解决方案.png);
    background-size:100% 100%;
    background-repeat:no-repeat;

    position: relative;


}

.single_solution_content_box{
    width: 350px;
    float: right;

    padding: 10px 30px;
    color: white;
}

.single_solution_title_text{
    margin-top: 190px;
    font-size: 20px;
    font-weight: bold;

}

.single_solution_content_text{
    margin-top: 15px;
    font-size: 14px;
}

.single_solution_footer{
    margin-top: 40px;
    padding: 0 10px;

    display: flex;
    flex-direction:row;
    flex-wrap: no;
    justify-content:flex-start;
    align-items: center;

}

.single_solution_see_more{
    cursor: pointer;
}

.single_solution_free_get{
    margin-left: 15px;
    background-color: white;
    width: 130px;
    height: 29px;
    padding: 5px;
    text-align: center;
    font-size: 14px;

    color: rgb(92,180,238);
    cursor: pointer;
}



.case_box{
    padding: 20px 160px;

}

.case_box_body{
    margin-top: 20px;

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;

}

.case_item{
    width: 240px;
    margin-right: 50px;
}

.case_image{

    height: 240px;
}

.case_image img{
    width: 240px;
}

.case_image_more{
    cursor: pointer;
    margin-top: -140px;
    text-align: center;
    font-size: 20px;
}

.case_image_more a{
    text-decoration: none;
    color: white;
}

.case_company{
    margin-top: 30px;
    color: rgb(53,53,53);
    font-size: 20px;
    font-weight: bold;
}

.case_description{

    font-size: 17px;
    color: rgb(85,85,85);
    margin-top: 10px;

    overflow:hidden;
    display:-webkit-box;
    text-overflow:ellipsis;
    -webkit-line-clamp:5;
    -webkit-box-orient:vertical;
    white-space:normal;
}



.news_box{
    padding: 20px 160px;
}

.news_box_text{

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;

}

.news_box_text_bar{
    padding-left: 10px;
    width: 5px;
    height: 35px;
    background-color: rgb(52,175,244);
}

.news_box_text_font{
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
    color: rgb(53,53,53);
}



.more_button_text{
    text-align: end;
    font-size: 20px;
    color: rgb(38,164,249);
}

.more_button_text a{
    text-decoration: none;
}




.company_box{
    background-color: white;
    padding: 20px 70px;
}

.company_box .company_header{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;

    color: rgb(68,68,68);
    font-size: 22px;
    font-weight: bold;
}

.company_header_item{
    margin: 5px 10px;
}

.company_body{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
}

.company_body_item{
    margin: 10px;
    width:90px;
}

.company_body_item .company_body_text{
    margin-top: 10px;
    text-align: center;
    color: rgb(34,34,34);
    font-size: 16px;
}

