.nav_container{
    /*max-height: 500px;*/
}

.nav_container img{
    /*max-height: 500px;*/
}


.breadcrumb_box{
    margin-top: 30px;
    padding: 0 100px;
    font-size: 22px;
    color: rgb(55,55,55);

}

.breadcrumb_box a{
    text-decoration: none;
    color: rgb(55,55,55);
}

.breadcrumb_box .breadcrumb_title_text{
    font-weight: bold;
}

.main_box{
    margin-top: 30px;
    padding: 0 180px;
}