.nav_container{
    /*max-height: 500px;*/
}

.nav_container img{
    /*max-height: 500px;*/
}


.category_box{
    padding: 30px 180px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

.category_item{
    cursor: pointer;
    width: 160px;
    height: 50px;
    margin:10px;
    padding-top: 10px;
    font-size: 20px;
    box-shadow: 3px 3px 3px rgba(202,202,202,1);
    color: rgb(84,84,84);
    z-index: 1;
    text-align: center;

    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.category_item.category_item_highlight{
    background-color: rgb(52,175,244);
    color: white;
}

.main_box{
    margin-top: 20px;
    padding: 0 130px;
    margin-bottom: 100px;
}

.product_list_box{
    margin-left: 90px;

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
}

.product_list_box .product_list_item{
    width: 29%;
    margin-right: 4%;
    margin-top: 30px;


    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;


}
.product_list_item .product_image_box{
    /*border:2px dashed rgb(159,159,159);*/
    border: 1px solid rgb(159,159,159);
    border-radius: 5px;

    padding: 15px 10px;

    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:flex-end;
    align-items: center;

}

.product_list_item .product_image_box .product_image{
    width: 50%;

    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;

}

.product_list_item .product_image_box .product_image img{
    width: 100%;
    /*max-height: 300px;*/
}

.product_list_item .product_image_box .product_name_text{
    margin-top: 20px;
    color: rgb(61,61,61);
    font-size: 22px;
}

.product_image_box .product_description_text{
    margin-top: 15px;
    font-size: 16px;
    color: rgb(61,61,61);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product_list_box .product_see_detail_text{
    cursor: pointer;
    margin-top: 35px;
    /*width: 150px;*/
    /*height: 35px;*/
    padding: 8px 30px;
    font-size: 18px;

    background-color: white;
    text-align: center;
    border-radius: 1px;
    border: 1px solid rgb(61,61,61);
}

.product_see_detail_text a{
    text-decoration: none;
    color: rgb(61,61,61);
}