<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 首页 </title>
    <script src="__CDN__/assets/pc/lib/jquery-3.3.1.min.js"></script>


    <link rel="stylesheet" href="__CDN__/assets/pc/css/common.css?v={$asset_version}">
    <link rel="stylesheet" href="__CDN__/assets/pc/css/index.css?v={$asset_version}">
    <link rel="stylesheet" href="__CDN__/assets/pc/swiper/swiper.min.css?v={$asset_version}">


    <script src="__CDN__/assets/pc/swiper/swiper.min.js"></script>

</head>


<body>

    <div class="container">

        {include file='common/header' /}

        <div class="nav_container">

            <div class="swiper-container swiper1-container" >

                <div class="swiper-wrapper">

                    {foreach name="banner_list" item="vo" key="k"}
                    <div class="swiper-slide">
                        <img src="{$vo.image_url}"
                                   alt="{$vo.name}"
                                                   width="100%"
                                                   onclick="bannerJump('{$vo.jump_url}')"></div>
                    {/foreach}

                </div>

                <!--分页-->
                <div class="pagination swiper1-pagination"></div>
                <!--&lt;!&ndash; 如果需要导航按钮 &ndash;&gt;-->
                <div class="swiper-button-prev swiper_btn"></div>
                <div class="swiper-button-next swiper_btn"></div>

                <!--&lt;!&ndash; 如果需要滚动条 &ndash;&gt;-->
                <!--<div class="swiper-scrollbar"></div>-->

            </div>

        </div>

        {include file='common/bottom' /}


    </div>


</body>


<script>

    window.onload = function() {
        var mySwiper = new Swiper ('.swiper-container', {
//            direction: 'vertical', // 垂直切换选项
            loop: true, // 循环模式选项
            autoplay:5000,
            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
            },

            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // 如果需要滚动条
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        })
    };

    function bannerJump(url) {
        console.log(url);

        window.open(url)
//            window.location.href = url;
    }



</script>

</html>