.nav_container{
    width: 100%;
}
.nav_container img{
    /*height: 200px;*/
    /*width: 100%;*/
    /*object-fit:cover*/
}


.news_box{

    margin-top: 20px;
    padding: 0 4% 20px 4%;
    width: 100%;


    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;

}

.news_item{
    width: 99%;
    margin-top:20px;
    padding:0 5px 20px 5px;

    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
}

.news_item .news_item_img{
    width: 35%;
}
.news_item_img img{
    width: 98%;
}

.news_item .news_item_content_box{
    width: 60%;

    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: flex-start;

}

.news_item_content_box .news_item_title{

    font-size: 15px;
    font-weight: bold;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

.news_item_title a{
    text-decoration: none;
    color: rgb(56,56,56);
}

.news_item_content_box  .news_item_description{
    margin-top: 10px;
    font-size: 14px;
    color: rgb(146,146,146);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

.news_divider{
    width: 90%;
    height: 1px;
    background-color: rgb(221,221,221);
}

.news_box .common_see_more{
    margin-top: 20px;
}


