
.common_title_text_box{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;

    margin-top: 15px;
}

.little_vertical_bar{
    width: 1px;
    height: 18px;
    background-color: rgb(92,176,253);
}

.common_title_title_text{

    color: rgb(79,79,79);
    margin-left: 15px;
    margin-right: 15px;

    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: flex-end;
}

.title_text_big{
    font-size: 16px;
    font-weight: bold;
}

.title_text_small{
    font-size: 13px;
}

.nav_container{
    width: 100%;
}
.nav_container img{
    /*height: 200px;*/
    /*width: 100%;*/
    /*object-fit:cover*/
}

.category_box{
    margin-top: 0;


    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
}

.category_item{
    padding: 8px 8px;

    width: 50%;
    background-color: rgb(247,247,247);

    font-size: 16px;
    font-weight: bold;

    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
}

.category_item.category_active{
    background-color: rgb(61,178,248);
}

.category_title a{
    text-decoration: none;
    color: black;
}

.category_active .category_title a{
    color: white;
}

.category_highlight_bar{
    margin-top: 10px;
    width: 60px;
    height: 2px;
}

.category_active .category_highlight_bar{
    background-color: white;
}

.map{
    margin: 10px 10px;

    /*width: 100%;*/
    height: 250px;
}

.info_box{
    margin-top: 20px;
    padding: 0 5%;
    width: 100%;

    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;

}

.info_item{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;

    width: 100%;
    margin-top: 15px;
    font-size: 14px;
    color: rgb(123,123,123);

}

.info_icon{
    width: 8%;

}

.info_icon img{
    width: 100%;
}

.info_text{
    width: 20%;
}

.info_value{
    width: 65%;
}

.leave_message_title_container{
    margin-top: 20px;
}
.msg_box{
    margin-top: 20px;
    padding: 0 8% 15px 8%;
    width: 100%;

    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
}

.msg_row{
    margin-top: 15px;
    width: 100%;

    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;

}

.msg_row .msg_title_text{
    width: 30%;
}

.msg_row .msg_input{
    width: 60%;
}

.msg_row.msg_input_box {

}

.msg_input input{

    width: 100%;
    height: 35px;

    border: 1px solid #ccc;
    border-radius: 4px;
}
.msg_area{
    width: 60%;
}
.msg_area textarea {
    width: 100%;
    height: 100px;

    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 20px;
    text-align: left;
}

.msg_select{
    width: 60%;
}
.msg_select select {

    width: 100%;

    height: 35px;

    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    text-align-last: center;
    vertical-align: middle;
    align-items: center;
}

.msg_select select option{

    text-align: center;
    font-size: 14px;
    vertical-align: middle;

    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
}

.msg_btn{
    margin-top: 15px;

    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
}

.msg_btn button{
    background-color: rgb(52,175,244);
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}