
.common_title_text_box{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;

    margin-top: 15px;
}

.little_vertical_bar{
    width: 1px;
    height: 18px;
    background-color: rgb(92,176,253);
}

.common_title_title_text{

    color: rgb(79,79,79);
    margin-left: 30px;
    margin-right: 30px;

    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: flex-end;
}

.title_text_big{
    font-size: 17px;
    font-weight: bold;
}

.title_text_small{
    font-size: 13px;
}


.plan_box{
    margin-top: 15px;
    padding: 5px 5px;

    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
}

.plan_header{
    width: 100%;

    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
}

.plan_header .plan_header_img{
    width: 50px;
}

.plan_header .plan_header_img img{
    width: 98%;

}

.plan_header_text_box{
    padding: 5px 10px;


    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
}

.plan_header_text_english{
    color: rgb(173,173,173);
    font-size: 14px;
}

.plan_header_text_chinese{
    color: rgb(89,89,89);
    font-size: 15px;
}


.plan_body{
    margin-top: 10px;
    width: 80%;
    color: rgb(157,157,157);
    font-size: 15px;
    line-height: 25px;
}

.plan_img_box{
    margin-top: 10px;

    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: flex-end;
}

.plan_img_box .plan_img{
    width: 95%;
}


.plan_img_end{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:flex-end;
    align-items: center;

}

.plan_img_end img{
    width: 50px;
}

.cabnet_box{

    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;

    margin: 15px 8px 3px 8px;
    padding: 0 6%;
    box-shadow: 3px 3px 3px rgba(219,209,200,1);
    border-radius: 8px;

}

.cabnet_left{
    width: 55%;
}

.cabnet_left .cabnet_title{
    color:rgb(24,24,24);
    font-size: 16px;
}

.cabnet_left .cabnet_content{
    margin-top: 10px;
    color: rgb(124,124,124);

    width: 100%;

    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: flex-start;
}

.cabnet_content div{
    line-height: 20px;
    font-size: 12px;
    margin-top: 10px;
}


.cabnet_right{
    width: 45%;
    padding: 10px;
}

.cabnet_right img{
    width: 100%;
}

.util_box{
    margin: 15px 8px 3px 8px;

    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;

    box-shadow: 3px 3px 3px rgba(219,209,200,1);
    border-radius: 8px;

}

.util_list_container{
    margin-top: 10px;
    width: 100%;

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
}

.util_list_container .util_item{
    width: 50%;
    padding: 10px 10px;

    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
}

.util_item .util_item_img{
    width: 20px;
}

.util_item .util_item_img img{
    width: 100%;
}

.util_item .util_item_name{
    margin-left: 5px;
    color: rgb(124,124,124);
    font-size: 12px;
}

.scene_box{
    width: 100%;
    margin-top: 15px;
    padding: 3px 6% 15px 6%;

    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
}

.scene_img_box{
    margin-top: 10px;

    width: 100%;

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
}

.scene_img_item{
    width: 50%;
    margin-top: 10px;
}

.scene_img_item img{
    width: 90%;
}