<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport"-->
          <!--content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <title> {$seo_title} </title>
    <meta name="description" content="{$seo_description}">
    <meta name="keywords" content="{$seo_keyword}">

    <script src="__CDN__/assets/pc/lib/jquery-3.3.1.min.js"></script>


    <?php
            if ($visitDevice=='mobile'){
        ?>
    <link rel="stylesheet" href="__CDN__/assets/pc/css/mobile_common.css?v={$asset_version}">
    <?php
        }else{
           ?>
    <link rel="stylesheet" href="__CDN__/assets/pc/css/common.css?v={$asset_version}">
    <?php
        }
        ?>

    <link rel="stylesheet" href="__CDN__/assets/pc/css/news_detail.css?v={$asset_version}">


    <link rel="stylesheet" href="__CDN__/assets/pc/swiper/swiper.min.css?v={$asset_version}">


    <script src="__CDN__/assets/pc/swiper/swiper.min.js"></script>

</head>


<body>
<div class="container" name="top">
    {include file='common/header' /}

    <div class="nav_container">
        <img src="{$banner.image_url}" alt="{$banner.name}" />
    </div>

    <div class="main_box">

        <div class="main_left">

            <div class="news_box">

                <div class="news_box_body">
                    <div class="news_header_box">
                        <h1 class="news_header_text">
                            {$row.name}
                        </h1>
                    </div>

                    <div class="time_box">
                        <div class="time_text">
                            发布日期：{$row.create_date}
                        </div>
                        <div class="click_text">
                            {$row.click_count}次浏览
                        </div>
                    </div>

                    <div class="news_content_box">
                        {$row.content}
                    </div>
                </div>


                <div class="line_box">
                </div>
            </div>


            <div class="simple_paginate_box">

                <div class="simple_paginate_item">
                    <div class="simple_paginate_item_text">
                        上一篇：
                    </div>
                    <div class="simple_paginate_item_name">
                        <a href="/news_detail/{$jump_url.prev.id}">{$jump_url.prev.name}</a>
                    </div>
                </div>

                <div class="simple_paginate_item">
                    <div class="simple_paginate_item_text">
                        下一篇：
                    </div>
                    <div class="simple_paginate_item_name">
                        <a href="/news_detail/{$jump_url.next.id}">{$jump_url.next.name}</a>
                    </div>
                </div>

            </div>

        </div>



        <div class="main_right recommend_box">

            <div class="recommend_head_text">
                推荐阅读
            </div>



            <div class="recommend_news_list">
                {foreach name="recommend_news_list" item="vo" key="k"}
                <div class="recommend_news_item">
                    <a href="/news_detail/{$vo.id}">{$vo.name}</a>
                </div>
                {/foreach}

            </div>


            <div class="recommend_head_text">
                相关推荐
            </div>


            <div class="recommend_news_list">
                {foreach name="relation_recommend_list" item="vo" key="k"}
                <div class="recommend_news_item">
                    <a href="/customcase_detail/{$vo.id}">{$vo.name}</a>
                </div>
                {/foreach}

            </div>
        </div>


    </div>






    {include file='common/bottom' /}

</div>

{include file='common/baidubridge' /}
</body>

{include file='common/checkPcVisit' /}
<script>




</script>
</html>