<link rel="stylesheet" href="__CDN__/assets/pc/css/bottom.css?v={$asset_version}">

<div class="bottom_box">

    <div class="bottom_content">

        <div class="bottom_logo_box">
            <div class="bottom_logo_image">
                <img src="{$page_company_info.company_logo_image}" alt="戈子科技">
            </div>
            <div class="bottom_logo_text">
                智慧食堂解决方案供应商
            </div>
        </div>

        <div class="bottom_category_box">
            <div class="bottom_category_item">
                <div class="bottom_category_title">
                    解决方案
                </div>


                {foreach name="menu_solution_list" item="vo" key="k"}
                {if condition="$k<4"}
                <div class="bottom_category_body_text" >
                    <a href="{:url('index/solution/detail',['id'=>$vo['id']])}" >
                        {$vo.name}
                    </a>
                </div>
                {/if}
                {/foreach}


            </div>
            <div class="bottom_category_item">
                <div class="bottom_category_title">
                    产品中心
                </div>


                {foreach name="menu_product_category_list" item="vo" key="k"}
                {if condition="$k<4"}
                <div class="bottom_category_body_text" >
                    <a href="{:url('index/product/product_category_index',['id'=>$vo['id']])}" >
                        {$vo.name}
                    </a>
                </div>
                {/if}
                {/foreach}

            </div>
            <div class="bottom_category_item">
                <div class="bottom_category_title">
                    客户案例
                </div>


                {foreach name="menu_customcase_category_list" item="vo" key="k"}
                <div class="bottom_category_body_text" >
                    <a href="{:url('index/customcase/index',['category_id'=>$vo['id']])}" >
                        {$vo.name}
                    </a>
                </div>
                {/foreach}

            </div>
            <div class="bottom_category_item">
                <div class="bottom_category_title">
                    新闻资讯
                </div>

                {foreach name="menu_news_category_list" item="vo" key="k"}
                <div class="bottom_category_body_text" >
                    <a href="{:url('index/news/index',['category_id'=>$vo['id']])}" >
                        {$vo.name}
                    </a>
                </div>
                {/foreach}

            </div>
            <div class="bottom_category_item bottom_category_item_long">

                <div class="bottom_category_title">
                    联系我们
                </div>
                <div class="bottom_category_body_text">
                    服务热线：{$page_company_info.contact_phone}
                </div>
                <div class="bottom_category_body_text">
                    商务联系：{$page_company_info.contact_mobile}
                </div>
                <div class="bottom_category_body_text">
                    邮箱：{$page_company_info.company_email}
                </div>
                <div class="bottom_category_body_text">
                    总部地址：{$page_company_info.company_address}
                </div>

            </div>
        </div>

        <div class="bottom_wechat_box">
            <div class="bottom_wechat_image">
                <img src="{$page_company_info.company_wechat_image}" alt="戈子科技二维码">
            </div>
            <div class="bottom_wechat_text1">
                微信公众号
            </div>
            <div class="bottom_wechat_text2">
                扫一扫关注我们
            </div>
        </div>

    </div>

    <div class="bottom_copyright">
        {$page_company_info.company_copyright}
    </div>
</div>
