<link rel="stylesheet" href="__CDN__/assets/pc/css/bottom.css?v={$asset_version}">

<div class="bottom_box">

    <div class="bottom_content">

        <div class="bottom_logo_box">
            <div class="bottom_logo_image">
                <img src="__CDN__/assets/pc/image/首页切图/位置切图/images/网页设计1--网站首页_160.png">
            </div>
        </div>

        <div class="bottom_category_box">
            <div class="bottom_category_item">
                <div class="bottom_category_title">
                    解决方案
                </div>
                <div class="bottom_category_body_text">
                    智慧食堂
                </div>
                <div class="bottom_category_body_text">
                    自选餐
                </div>
                <div class="bottom_category_body_text">
                    预定自选餐
                </div>
                <div class="bottom_category_body_text">
                    自助餐
                </div>
            </div>
            <div class="bottom_category_item">
                <div class="bottom_category_title">
                    产品中心
                </div>
                <div class="bottom_category_body_text">
                    视觉结算台
                </div>
                <div class="bottom_category_body_text">
                    智能称重结算台
                </div>
                <div class="bottom_category_body_text">
                    移动订餐设备
                </div>
                <div class="bottom_category_body_text">
                    智能配套硬件
                </div>
            </div>
            <div class="bottom_category_item">
                <div class="bottom_category_title">
                    客户案例
                </div>
                <div class="bottom_category_body_text">
                    高校/中小学
                </div>
                <div class="bottom_category_body_text">
                    政府机关
                </div>
                <div class="bottom_category_body_text">
                    企事业单位
                </div>
            </div>
            <div class="bottom_category_item">
                <div class="bottom_category_title">
                    新闻资讯
                </div>
                <div class="bottom_category_body_text">
                    公司新闻
                </div>
                <div class="bottom_category_body_text">
                    行业资讯
                </div>
                <div class="bottom_category_body_text">
                    产品动态
                </div>
            </div>
            <div class="bottom_category_item">
                <div class="bottom_category_title">
                    联系我们
                </div>
                <div class="bottom_category_body_text">
                    服务热线：020-85295250
                </div>
                <div class="bottom_category_body_text">
                    商务联系：18813296621
                </div>
                <div class="bottom_category_body_text">
                    邮箱：ch@wggai.com
                </div>
                <div class="bottom_category_body_text">
                    总部地址：广州市番禺区嘉洲大厦508室
                </div>
            </div>
        </div>

        <div class="bottom_wechat_box">
            <div class="bottom_wechat_image">
                <img src="__CDN__/assets/pc/image/index/wechat.png">
            </div>
            <div class="bottom_wechat_text1">
                微信公众号
            </div>
            <div class="bottom_wechat_text2">
                扫一扫关注我们
            </div>
        </div>

    </div>

    <div class="bottom_copyright">
        Copyright &copy 2016-2020 广州市五宫格信息科技有限责任公司 版权所有 粤ICP备16092643号 - 1
    </div>
</div>
