<link rel="stylesheet" href="__CDN__/assets/pc/css/header.css?v={$asset_version}">

<div class="header_box">

    <div class="header_logo_box">
        <div class="logo_image">
            <img src="{$page_company_info.company_logo_image}" alt="戈子科技">
        </div>
        <div class="website_title">
            智慧食堂解决方案
        </div>
    </div>

    <div class="header_menu_box">



        <div class="menu_item_box   ">
            <div class="menu_item_box_title">
                <a href="/" >
                    首页
                </a>
            </div>
            <div class="menu_border_bottom {if $highlight_menu == 1} height_menu {/if}">
            </div>
        </div>
        <div class="menu_item_box dropdown ">
            <div class="menu_item_box_title">
                <a href="/solution" >
                    解决方案
                </a>
            </div>
            <div class="menu_item_box_list dropdown-content" >

                {foreach name="menu_solution_list" item="vo" key="k"}
                <div class="menu_item_box_list_each" >
                    <a href="/solution/{$vo.id}" >
                        {$vo.name}
                    </a>
                </div>
                {/foreach}
            </div>
            <div class="menu_border_bottom {if $highlight_menu == 2} height_menu {/if}">
            </div>
        </div>
        <div class="menu_item_box dropdown ">

            <div class="menu_item_box_title">
                <a href="/product_cate" >
                    产品中心
                </a>
            </div>
            <div class="menu_item_box_list dropdown-content" >

                {foreach name="menu_product_category_list" item="vo" key="k"}
                <div class="menu_item_box_list_each" >
                    <a href="/product_cate/{$vo.id}" >
                        {$vo.name}
                    </a>
                </div>
                {/foreach}
            </div>
            <div class="menu_border_bottom {if $highlight_menu == 3} height_menu {/if}">
            </div>
        </div>

        <div class="menu_item_box dropdown">

            <div class="menu_item_box_title">
                <a href="/customcase" >
                    客户案例
                </a>
            </div>
            <div class="menu_item_box_list dropdown-content" >


                {foreach name="menu_customcase_category_list" item="vo" key="k"}
                <div class="menu_item_box_list_each" >
                    <a href="/customcase/{$vo.id}" >
                        {$vo.name}
                    </a>
                </div>
                {/foreach}


            </div>
            <div class="menu_border_bottom {if $highlight_menu == 4} height_menu {/if}">
            </div>
        </div>
        <div class="menu_item_box dropdown">

            <div class="menu_item_box_title">
                <a href="/news" >
                    新闻资讯
                </a>
            </div>
            <div class="menu_item_box_list dropdown-content" >

                {foreach name="menu_news_category_list" item="vo" key="k"}
                <div class="menu_item_box_list_each" >
                    <a href="/news/{$vo.id}" >
                        {$vo.name}
                    </a>
                </div>
                {/foreach}

            </div>
            <div class="menu_border_bottom {if $highlight_menu == 5} height_menu {/if}">
            </div>
        </div>
        <div class="menu_item_box dropdown ">

            <div class="menu_item_box_title">
                <a href="/contact_company" >
                    关于我们
                </a>

            </div>
            <div class="menu_item_box_list dropdown-content" >
                <div class="menu_item_box_list_each" >
                    <a href="/contact_company" >
                        公司介绍
                    </a>
                </div>
                <div class="menu_item_box_list_each" >
                    <a href="/contact_us" >
                        联系我们
                    </a>
                </div>
            </div>
            <div class="menu_border_bottom {if $highlight_menu == 6} height_menu {/if}">
            </div>
        </div>

    </div>



</div>




<script>

</script>