<link rel="stylesheet" href="__CDN__/assets/pc/css/header.css?v={$asset_version}">

<div class="header_box">

    <div class="header_logo_box">
        <div class="logo_image">
            <img src="__CDN__/assets/pc/image/index/logo.png" alt="戈子科技">
        </div>
        <div class="website_title">
            智慧食堂解决方案
        </div>
    </div>

    <div class="header_menu_box">


        <div class="menu_item_box height_menu">
            <div class="menu_item_box_title">
                首页
            </div>
        </div>
        <div class="menu_item_box dropdown">
            <div class="menu_item_box_title">
                解决方案
            </div>
            <div class="menu_item_box_list dropdown-content" >
                <div class="menu_item_box_list_each" >
                    智慧食堂
                </div>
                <div class="menu_item_box_list_each" >
                    自选餐
                </div>
                <div class="menu_item_box_list_each" >
                    预定套取餐
                </div>
                <div class="menu_item_box_list_each" >
                    自助餐
                </div>
            </div>
        </div>
        <div class="menu_item_box dropdown">

            <div class="menu_item_box_title">
                产品中心
            </div>
            <div class="menu_item_box_list dropdown-content" >
                <div class="menu_item_box_list_each" >
                    视觉结算系统
                </div>
                <div class="menu_item_box_list_each" >
                    智能称重结算台
                </div>
                <div class="menu_item_box_list_each" >
                    食堂管理系统
                </div>
                <div class="menu_item_box_list_each" >
                    配套硬件
                </div>
            </div>
        </div>

        <div class="menu_item_box dropdown">

            <div class="menu_item_box_title">
                客户案例
            </div>
            <div class="menu_item_box_list dropdown-content" >
                <div class="menu_item_box_list_each" >
                    高校/中小学
                </div>
                <div class="menu_item_box_list_each" >
                    政府机关
                </div>
                <div class="menu_item_box_list_each" >
                    企事业单位
                </div>
            </div>
        </div>
        <div class="menu_item_box dropdown">

            <div class="menu_item_box_title">
                新闻资讯
            </div>
            <div class="menu_item_box_list dropdown-content" >
                <div class="menu_item_box_list_each" >
                    公司新闻
                </div>
                <div class="menu_item_box_list_each" >
                    行业资讯
                </div>
                <div class="menu_item_box_list_each" >
                    产品动态
                </div>
            </div>
        </div>
        <div class="menu_item_box dropdown">

            <div class="menu_item_box_title">
                关于我们
            </div>
            <div class="menu_item_box_list dropdown-content" >
                <div class="menu_item_box_list_each" >
                    公司介绍
                </div>
                <div class="menu_item_box_list_each" >
                    联系我们
                </div>
            </div>
        </div>

    </div>



</div>




<script>

</script>