<link rel="stylesheet" href="__CDN__/assets/mobile/css/mobileheader.css?v={$asset_version}">

<div class="header_all_container">

    <div class="header_box">

        <div class="header_logo_box">
            <div class="logo_image">
                <img src="{$page_company_info.company_logo_image}" alt="戈子科技">
            </div>
            <div class="website_title">
                智慧食堂解决方案
            </div>
        </div>
        <div class="menu_btn_box">
            <button class="menu_btn" onclick="toggle_menu()">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>


    </div>

    <div id="drawer_menu" class="drawer_menu">


       <div class="drawer_menu_item">
           <div class="menu_first_level">
               <div class="menu_first_level_name">
                   <a href="/mobile_index" >
                       首页
                   </a>

               </div>
           </div>

           <div class="menu_sub_level">
           </div>
       </div>

        <div class="drawer_menu_item">
            <div class="menu_first_level" onclick="toggle_sub_menu(this)">
                <div class="menu_first_level_name"  >
                    解决方案
                </div>
                <div class="menu_first_level_arrow">
                    <img class="menu_first_level_arrow_img" src="__CDN__/assets/mobile/image/icon/right_arrow.png">
                </div>
            </div>

            <div class="menu_sub_level">

                {foreach name="menu_solution_list" item="vo" key="k"}
                <div class="menu_sub_level_item">
                    <a href="/mobile_solution/{$vo.id}" >
                        {$vo.name}
                    </a>
                </div>
                {/foreach}
            </div>
        </div>

        <div class="drawer_menu_item">
            <div class="menu_first_level" onclick="toggle_sub_menu(this)">
                <div class="menu_first_level_name">
                    产品中心
                </div>
                <div class="menu_first_level_arrow">
                    <img class="menu_first_level_arrow_img" src="__CDN__/assets/mobile/image/icon/right_arrow.png">
                </div>
            </div>

            <div class="menu_sub_level">

                {foreach name="menu_product_category_list" item="vo" key="k"}
                <div class="menu_sub_level_item">
                    <a href="/mobile_product_cate/{$vo.id}" >
                        {$vo.name}
                    </a>
                </div>
                {/foreach}
            </div>
        </div>

        <div class="drawer_menu_item">
            <div class="menu_first_level" onclick="toggle_sub_menu(this)">
                <div class="menu_first_level_name">
                    客户案例
                </div>
                <div class="menu_first_level_arrow">
                    <img class="menu_first_level_arrow_img" src="__CDN__/assets/mobile/image/icon/right_arrow.png">
                </div>
            </div>

            <div class="menu_sub_level">

                {foreach name="menu_customcase_category_list" item="vo" key="k"}
                <div class="menu_sub_level_item">
                    <a href="/mobile_customcase/{$vo.id}" >
                        {$vo.name}
                    </a>
                </div>
                {/foreach}
            </div>
        </div>

        <div class="drawer_menu_item">
            <div class="menu_first_level" onclick="toggle_sub_menu(this)">
                <div class="menu_first_level_name">
                    新闻动态
                </div>
                <div class="menu_first_level_arrow">
                    <img class="menu_first_level_arrow_img" src="__CDN__/assets/mobile/image/icon/right_arrow.png">
                </div>
            </div>

            <div class="menu_sub_level">

                {foreach name="menu_news_category_list" item="vo" key="k"}
                <div class="menu_sub_level_item">
                    <a href="/mobile_news/{$vo.id}" >
                        {$vo.name}
                    </a>
                </div>
                {/foreach}

            </div>
        </div>

        <div class="drawer_menu_item">

            <div class="menu_first_level" onclick="toggle_sub_menu(this)">
                <div class="menu_first_level_name">
                    关于我们
                </div>
                <div class="menu_first_level_arrow">
                    <img class="menu_first_level_arrow_img" src="__CDN__/assets/mobile/image/icon/right_arrow.png">
                </div>
            </div>

            <div class="menu_sub_level">

                <div class="menu_sub_level_item">
                    <a href="/contact_company" >
                        公司介绍
                    </a>
                </div>

                <div class="menu_sub_level_item">
                    <a href="/contact_us" >
                        联系我们
                    </a>
                </div>
            </div>

        </div>



    </div>

</div>

<div class="header_img_display_none" style="display: none">
    <img id='arrow001' src="/assets/mobile/image/icon/right_arrow.png">
    <img id='arrow002' src="/assets/mobile/image/icon/down_arrow.png">
</div>

<script>
    var menu_btn = document.getElementById("menu_btn");
    var menu_nav = document.getElementById("drawer_menu");
    var menu_contentLi = document.getElementsByClassName("drawer_menu_li");
    var menu_hide = true;
    var length = menu_contentLi.length;

    function toggle_menu() {
        if (menu_hide){
            menu_nav.style.display= 'block';
            menu_hide = false;
        } else {
            menu_nav.style.display = 'none';
            menu_hide = true;
        }
    }


    var right_arrow_asset ="/assets/mobile/image/icon/right_arrow.png";
    var down_arrow_asset ="/assets/mobile/image/icon/down_arrow.png";


    function toggle_sub_menu(obj) {


        var obj1 = $(obj).parent().find('.menu_sub_level')[0];

        var imgobj = $(obj).find('.menu_first_level_arrow_img')[0];



        if(!obj1 || obj1.style.display == ''  ||  obj1.style.display == undefined || obj1.style.display == 'none'){


            $('.menu_sub_level').css('display','none');
            $(imgobj).attr('src',$('#arrow002').attr('src'));
            obj1.style.display = 'block';

        }else{


            $('.menu_sub_level').css('display','none');
            $(imgobj).attr('src',$('#arrow001').attr('src'));
            obj1.style.display = 'none';

        }
    }





</script>


