<link rel="stylesheet" href="__CDN__/assets/mobile/css/mobilefooter.css?v={$asset_version}">

<div class="mobile_footer_container">

    <div class="mobile_footer_content">
        <div class="mobile_footer_content_left">

            <div class="footer_left_item">
                <div class="footer_left_item_title">
                    服务热线:&nbsp;&nbsp;
                </div>
                <div class="footer_left_item_value">
                    {$page_company_info.contact_phone}
                </div>
            </div>
            <div class="footer_left_item">
                <div class="footer_left_item_title">
                    商务联系: &nbsp;&nbsp;
                </div>
                <div class="footer_left_item_value">
                    {$page_company_info.contact_mobile}
                </div>
            </div>
            <div class="footer_left_item">
                <div class="footer_left_item_title">
                    邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱:&nbsp;&nbsp;
                </div>
                <div class="footer_left_item_value">
                    {$page_company_info.company_email}
                </div>
            </div>
            <div class="footer_left_item">
                <div class="footer_left_item_title">
                    总部地址: &nbsp;
                </div>
                <div class="footer_left_item_value">
                    {$page_company_info.company_address}
                </div>
            </div>
        </div>
        <div class="mobile_footer_content_right">
            <div class="footer_qrcode">
                <img src="{$page_company_info.company_wechat_image}" alt="戈子科技二维码">
            </div>
            <div class="footer_qrcode_text">
                扫一扫 关注我们
            </div>
        </div>
    </div>

    <div class="mobile_footer_copy_right">
        <div class="mobile_footer_copy_right_one">
            Copyright © 2016-{:date('Y',time())}
        </div>
        <div class="mobile_footer_copy_right_two">
            广州市五宫格信息科技有限责任公司 版权所有 粤ICP备16092643号 - 1
        </div>
    </div>

</div>