<link rel="stylesheet" href="__CDN__/assets/mobile/css/mobile_solution_templates/myself_pick.css?v={$asset_version}">


<div  class="plan_box">

    <div class="plan_header">
        <div class="plan_header_img">
            <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_14.gif"/>
        </div>
        <div class="plan_header_text_box">
            <div class="plan_header_text_english">
                SOLUTION/
            </div>
            <div class="plan_header_text_chinese">
                方案概述
            </div>
        </div>
    </div>

    <div class="plan_body">
        <span>
            视觉结算系统是一套基于人工智能技术实现实时快速识别菜品价格，顾客自助快速付款，达到“一秒结算，0出错率”效果的结算系统。
        </span>
    </div>

    <div class="plan_img_box">
        <div class="plan_img">
            <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_18.gif"/>
        </div>
    </div>

</div>

<div class="process_box">

    <div class="process_header">
        <div class="plan_header_text_box">
            <div class="plan_header_text_english">
                PROCESS/
            </div>
            <div class="plan_header_text_chinese">
                就餐流程
            </div>
        </div>
    </div>

    <div class="process_img_box">
        <div class="process_img_item">
            <div class="process_img_left">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_29.gif"/>
                <div class="process_img_title">
                    1.排队选餐
                </div>
            </div>
            <div class="process_img_mid">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_34.gif"/>
            </div>
            <div class="process_img_right">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_31.gif"/>
                <div class="process_img_title">
                    2.自助取餐
                </div>
            </div>
        </div>

        <div class="process_img_item">
            <div class="process_img_left">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_39.gif"/>
                <div class="process_img_title">
                    3.进入设备等候区
                </div>
            </div>
            <div class="process_img_mid">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_34.gif"/>
            </div>
            <div class="process_img_right">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_40.gif"/>
                <div class="process_img_title">
                    4.进入识别区
                </div>
            </div>
        </div>

        <div class="process_img_item">
            <div class="process_img_left">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_43.gif"/>
                <div class="process_img_title">
                    5.设备计价结算
                </div>
            </div>
            <div class="process_img_mid">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_34.gif"/>
            </div>
            <div class="process_img_right">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_45.gif"/>
                <div class="process_img_title">
                    6.进行支付
                </div>
            </div>
        </div>

        <div class="process_img_item">
            <div class="process_img_left">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_49.gif"/>
                <div class="process_img_title">
                    7.完成支付
                </div>
            </div>
            <div class="process_img_mid">
            </div>
            <div class="process_img_right">
            </div>
        </div>
    </div>


</div>

<div class="canteen_manage_box">

    <div class="common_title_text_box">
        <div class="little_vertical_bar">
        </div>
        <div class="common_title_title_text">
            <div class="title_text_big">
                食堂管理系统/
            </div>
            <div class="title_text_small">
                MANAGEMENT SYSTEM
            </div>
        </div>
        <div class="little_vertical_bar">
        </div>
    </div>

    <div class="canteen_manage_content_box">

        <div class="canteen_manage_content_item">
            <div class="canteen_manage_content_item_img">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_25.gif"/>

            </div>
            <div class="canteen_manage_content_item_name">
                多维度运营数据分析
            </div>
        </div>

        <div class="canteen_manage_content_item">
            <div class="canteen_manage_content_item_img">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_25.gif"/>

            </div>
            <div class="canteen_manage_content_item_name">
                多权限管理
            </div>
        </div>

        <div class="canteen_manage_content_item">
            <div class="canteen_manage_content_item_img">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_25.gif"/>

            </div>
            <div class="canteen_manage_content_item_name">
                菜品销售分析
            </div>
        </div>

        <div class="canteen_manage_content_item">
            <div class="canteen_manage_content_item_img">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_25.gif"/>

            </div>
            <div class="canteen_manage_content_item_name">
                餐盘设备管理
            </div>
        </div>

        <div class="canteen_manage_content_item">
            <div class="canteen_manage_content_item_img">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_25.gif"/>

            </div>
            <div class="canteen_manage_content_item_name">
                食品安全溯源
            </div>
        </div>

        <div class="canteen_manage_content_item">
            <div class="canteen_manage_content_item_img">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_25.gif"/>

            </div>
            <div class="canteen_manage_content_item_name">
                人员信息管理
            </div>
        </div>

    </div>

    <div class="canteen_manage_img_box">
        <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/02-自选餐/图像/未标题-1_60.gif"/>

    </div>


</div>