<link rel="stylesheet" href="__CDN__/assets/mobile/css/mobile_solution_templates/wise_canteen.css?v={$asset_version}">

<div  class="plan_box">

    <div class="plan_header">
        <div class="plan_header_img">
            <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/01-智慧食堂解决方案/图像/未标题-1_18.gif"/>
        </div>
        <div class="plan_header_text_box">
            <div class="plan_header_text_english">
                SOLUTION/
            </div>
            <div class="plan_header_text_chinese">
                方案概述
            </div>
        </div>
    </div>

    <div class="plan_body">
        <span>
“戈子科技智慧食堂”方案是一套专注满足团餐行业，覆盖餐饮管理全流程的团餐管理信息化解决方案，能够为食堂提供全新的“移动互联”信息化服务，帮助企业摒弃传统餐饮管理弊端，直达运营管理核心，由内而外打造理念超前、技术先进的智慧食堂解决方案。
        </span>
    </div>

    <div class="plan_img_box">
        <div class="plan_img">
            <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/01-智慧食堂解决方案/图像/未标题-1_22.gif"/>
        </div>
        <div class="plan_img_end">
            <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/01-智慧食堂解决方案/图像/未标题-1_26.gif"/>
        </div>
    </div>

</div>

<div class="util_box">

    <div class="common_title_text_box">
        <div class="little_vertical_bar">
        </div>
        <div class="common_title_title_text">
            <div class="title_text_big">
                功能特点/
            </div>
            <div class="title_text_small">
                FEATURES
            </div>
        </div>
        <div class="little_vertical_bar">
        </div>
    </div>

    <div class="util_list_container">

        <div class="util_item">
            <div class="util_item_img">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/01-智慧食堂解决方案/图像/未标题-1_30.gif" alt="移动订餐"/>
            </div>
            <div class="util_item_name">
                移动订餐
            </div>
        </div>

        <div class="util_item">
            <div class="util_item_img">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/01-智慧食堂解决方案/图像/未标题-1_32.gif" alt="智能支付"/>
            </div>
            <div class="util_item_name">
                智能支付
            </div>
        </div>

        <div class="util_item">
            <div class="util_item_img">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/01-智慧食堂解决方案/图像/未标题-1_34.gif" alt="人脸识别"/>
            </div>
            <div class="util_item_name">
                人脸识别
            </div>
        </div>

        <div class="util_item">
            <div class="util_item_img">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/01-智慧食堂解决方案/图像/未标题-1_39.gif" alt="视觉结算"/>
            </div>
            <div class="util_item_name">
                视觉结算
            </div>
        </div>

        <div class="util_item">
            <div class="util_item_img">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/01-智慧食堂解决方案/图像/未标题-1_41.gif" alt="移动取餐"/>
            </div>
            <div class="util_item_name">
                移动取餐
            </div>
        </div>

        <div class="util_item">
            <div class="util_item_img">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/01-智慧食堂解决方案/图像/未标题-1_43.gif" alt="食堂管理"/>
            </div>
            <div class="util_item_name">
                食堂管理
            </div>
        </div>

        <div class="util_item">
            <div class="util_item_img">
                <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/01-智慧食堂解决方案/图像/未标题-1_48.gif" alt="食堂监管"/>
            </div>
            <div class="util_item_name">
                食堂监管
            </div>
        </div>

    </div>
</div>


<div class="advantage_box">

    <div class="common_title_text_box">
        <div class="little_vertical_bar">
        </div>
        <div class="common_title_title_text">
            <div class="title_text_big">
                优势对比/
            </div>
            <div class="title_text_small">
                ADVANTAGES
            </div>
        </div>
        <div class="little_vertical_bar">
        </div>
    </div>

    <div class="advantage_img">
        <img src="__CDN__/assets/mobile/image/素材切图输出/2-解决方案/01-智慧食堂解决方案/图像/未标题-1_55.gif" alt="优势对比"/>

    </div>

    <div class="advantage_content_box">

        <div class="advantage_content_row">
            <div class="advantage_content_row_left advantage_content_row_title">
                智慧食堂
            </div>
            <div class="advantage_content_row_right advantage_content_row_title">
                传统食堂
            </div>
        </div>

        <div class="advantage_content_row">
            <div class="advantage_content_row_left ">
                <span class="advantage_text_light">提前</span>订餐，<span class="advantage_text_light">精准</span>备餐
            </div>
            <div class="advantage_content_row_right ">
                凭经验备餐，易造成浪费
            </div>
        </div>

        <div class="advantage_content_row">
            <div class="advantage_content_row_left ">
                <span class="advantage_text_light">多种支付</span>方式，<span class="advantage_text_light">提高就餐效率</span>
            </div>
            <div class="advantage_content_row_right ">
                排队拥挤，人工收银出错
            </div>
        </div>

        <div class="advantage_content_row">
            <div class="advantage_content_row_left ">
                <span class="advantage_text_light">线上收集</span>菜品建议和员工评价
            </div>
            <div class="advantage_content_row_right ">
                缺乏满意度评价
            </div>
        </div>

        <div class="advantage_content_row">
            <div class="advantage_content_row_left ">
                 <span class="advantage_text_light">明厨亮灶，食品安全管理</span>
            </div>
            <div class="advantage_content_row_right ">
                无法统一管控多食堂
            </div>
        </div>

        <div class="advantage_content_row">
            <div class="advantage_content_row_left ">
                <span class="advantage_text_light"> 数据分析，成本管控</span>
            </div>
            <div class="advantage_content_row_right ">
                营业统计数据对账难
            </div>
        </div>


    </div>

</div>

<div class="apply_field_box">

    <div class="common_title_text_box">
        <div class="little_vertical_bar">
        </div>
        <div class="common_title_title_text">
            <div class="title_text_big">
                应用场景/
            </div>
            <div class="title_text_small">
                SCENE
            </div>
        </div>
        <div class="little_vertical_bar">
        </div>
    </div>

    <div class="apply_field_img_box">

        <div class="apply_field_img">
            <img src="__CDN__/assets/mobile/image/应用领域/应用领域/未标题-1_03.jpg" alt="应用场景1"/>
        </div>
        <div class="apply_field_img">
            <img src="__CDN__/assets/mobile/image/应用领域/应用领域/未标题-1_05.jpg" alt="应用场景2"/>        </div>
        <div class="apply_field_img">
            <img src="__CDN__/assets/mobile/image/应用领域/应用领域/未标题-1_09.jpg" alt="应用场景3"/>        </div>
        <div class="apply_field_img">
            <img src="__CDN__/assets/mobile/image/应用领域/应用领域/未标题-1_10.jpg" alt="应用场景4"/>        </div>
        <div class="apply_field_img">
            <img src="__CDN__/assets/mobile/image/应用领域/应用领域/未标题-1_13.jpg" alt="应用场景5"/>        </div>
        <div class="apply_field_img">
            <img src="__CDN__/assets/mobile/image/应用领域/应用领域/未标题-1_15.jpg" alt="应用场景6"/>        </div>

    </div>

</div>