<link rel="stylesheet" href="__CDN__/assets/pc/css/solution_templates/myself_pick.css?v={$asset_version}">

<div class="current_situation_box">

    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            现状分析
        </div>
    </div>

    <div class="current_situation_img">
        <img src="__CDN__/assets/pc/image/解决方案/change0320/01.png" alt="专人值守，增加食堂人力成本;就餐时间集中，排队人数过多;饭卡携带不方便，丢失外接情况经常发生;众口难调，无法针对菜品质量进行改善">
    </div>

</div>


<div class="plan_box">
    <div class="plan_content">
        <div class="part_title_box">
            <div class="part_title_bar">
            </div>
            <div class="part_title_text">
                方案概述
            </div>
        </div>

        <div class="plan_content_description">
            视觉结算系统是一套基于人工智能技术实现实时快速识别菜品价格，顾客自助快速付款，达到“一秒结算，0出错率”效果的结算系统。
        </div>

        <div class="plan_content_button">
            点击咨询
        </div>

    </div>

    <div class="plan_image">
        <img src="__CDN__/assets/pc/image/解决方案/change0320/02.png" alt="视觉结算系统方案概述">
    </div>
</div>


<div class="use_canteen_process">

    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            就餐流程
        </div>
    </div>

    <div class="use_canteen_image">
        <img src="__CDN__/assets/pc/image/解决方案/change0320/03.png" alt="排队选参，自助取餐">
    </div>

</div>

<div class="pay_way_box">

    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            支付方式
        </div>
    </div>

    <div class="pay_way_image">
        <img src="__CDN__/assets/pc/image/解决方案/change0320/04.png" alt="支付方式">
    </div>

</div>

<div class="manage_system_box">

    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            智慧食堂管理系统
        </div>
    </div>

    <div class="manage_system_content">

        <div class="manage_system_content_left">
            <img src="__CDN__/assets/pc/image/解决方案/change0320/05.png" alt="智慧食堂管理系统软件">
        </div>

        <div class="manage_system_content_right">
            <div class="manage_system_content_each">
                多维度运营数据分析
            </div>
            <div class="manage_system_content_each">
                多权限管理
            </div>
            <div class="manage_system_content_each">
                菜品销售分析
            </div>
            <div class="manage_system_content_each">
                餐盘设备管理
            </div>
            <div class="manage_system_content_each">
                食品安全溯源
            </div>
        </div>

    </div>

</div>

<div class="manage_control_box">

    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            食堂管控
        </div>
    </div>

    <div class="manage_control_content">
        <div class="manage_control_each">
            <img src="__CDN__/assets/pc/image/解决方案/02-自选餐/素材切图/27.png" alt="明厨亮灶">
        </div>
        <div class="manage_control_each">
            <img src="__CDN__/assets/pc/image/解决方案/02-自选餐/素材切图/28.png" alt="食品留样">
        </div>
        <div class="manage_control_each">
            <img src="__CDN__/assets/pc/image/解决方案/02-自选餐/素材切图/29.png" alt="农药检测">
        </div>
        <div class="manage_control_each">
            <img src="__CDN__/assets/pc/image/解决方案/02-自选餐/素材切图/30.png" alt="原料塑源">
        </div>
        <div class="manage_control_each">
            <img src="__CDN__/assets/pc/image/解决方案/02-自选餐/素材切图/31.png" alt="动环监测">
        </div>
        <div class="manage_control_each">
            <img src="__CDN__/assets/pc/image/解决方案/02-自选餐/素材切图/32.png" alt="巡检服务">
        </div>
    </div>

</div>

