<link rel="stylesheet" href="__CDN__/assets/pc/css/solution_templates/order_food.css?v={$asset_version}">

<div class="wechat_order">

    <div class="wechat_order_left">

        <div class="part_title_box">
            <div class="part_title_bar">
            </div>
            <div class="part_title_text">
                手机微信点餐
            </div>
        </div>

        <div class="wechat_order_content">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通过自助点餐机、手机预点餐等点餐方式，与智能取餐柜、自助取餐保温柜的有效结合，解决集中时间就餐问题的同时提升食堂的就餐环境。
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;同时打通食堂从预订-制作-配餐-分发等各环节，通过数据分析与预点餐方式有效管理菜品浪费，提高管理效率。
        </div>

        <div class="wechat_order_list">
            <div class="wechat_order_list_each">
                <font color="#6495ed">√</font> 支持提前订餐
            </div>
            <div class="wechat_order_list_each">
                <font color="#6495ed">√</font> 支持查询订餐记录
            </div>
            <div class="wechat_order_list_each">
                <font color="#6495ed">√</font> 支持营养分析
            </div>
            <div class="wechat_order_list_each">
                <font color="#6495ed">√</font> 支持微信、卡支付
            </div>
            <div class="wechat_order_list_each">
                <font color="#6495ed">√</font> 支持个人订餐、团体套餐预定
            </div>
            <div class="wechat_order_list_each">
                <font color="#6495ed">√</font> 支持包厢预定、净菜预定
            </div>
            <div class="wechat_order_list_each">
                <font color="#6495ed">√</font> 支持取餐柜取餐
            </div>
            <div class="wechat_order_list_each">
                <font color="#6495ed">√</font> 支持在线评价
            </div>
            <div class="wechat_order_list_each">
                <font color="#6495ed">√</font> 支持在线充值
            </div>
            <div class="wechat_order_list_each">
                <font color="#6495ed">√</font> 支持人脸核销、扫码核销取餐
            </div>
        </div>

    </div>

    <div class="wechat_order_right">
        <img src="__CDN__/assets/pc/image/解决方案/03-预定餐选餐/素材切图/02.png" alt="微信点餐" >
        <img src="__CDN__/assets/pc/image/解决方案/03-预定餐选餐/素材切图/03.png" alt="自助点餐">
    </div>


</div>

<div class="temperature_keep_closet_box">

    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            自助取餐保温柜
        </div>
    </div>

</div>

<div class="temperature_keep_closet_box_image">
    <img src="__CDN__/assets/pc/image/解决方案/change0320/06.png" alt="自助取餐保温柜" >
</div>

<div class="apply_place_box">

    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            应用场景
        </div>
    </div>

    <div class="apply_place_content">

        <div class="apply_place_content_every_row">
            <div class="apply_place_content_each">
                <img src="__CDN__/assets/pc/image/解决方案/03-预定餐选餐/素材切图/05.png" >
            </div>
            <div class="apply_place_content_each">
                <img src="__CDN__/assets/pc/image/解决方案/03-预定餐选餐/素材切图/06.png" >
            </div>
            <div class="apply_place_content_each">
                <img src="__CDN__/assets/pc/image/解决方案/03-预定餐选餐/素材切图/07.png" >
            </div>
        </div>

        <div class="apply_place_content_every_row">
            <div class="apply_place_content_each">
                <img src="__CDN__/assets/pc/image/解决方案/03-预定餐选餐/素材切图/08.png" >
            </div>
            <div class="apply_place_content_each">
                <img src="__CDN__/assets/pc/image/解决方案/03-预定餐选餐/素材切图/09.png" >
            </div>
            <div class="apply_place_content_each">
                <img src="__CDN__/assets/pc/image/解决方案/03-预定餐选餐/素材切图/10.png" >
            </div>
        </div>





    </div>

</div>

<div class="case_advantage_box">

    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            方案优势
        </div>
    </div>

    <div class="case_advantage_box_content">

        <div class="case_advantage_each">
            <div class="case_advantage_each_image">
                <img src="__CDN__/assets/pc/image/解决方案/03-预定餐选餐/素材切图/11.png" >
            </div>

            <div class="case_advantage_each_title">
                减少人工投入
            </div>
            <div class="case_advantage_each_description">
                服务员招聘越来越难，人工成本越来越高，提供效率才是关键
            </div>
        </div>

        <div class="case_advantage_each">
            <div class="case_advantage_each_image">
                <img src="__CDN__/assets/pc/image/解决方案/03-预定餐选餐/素材切图/12.png" >
            </div>

            <div class="case_advantage_each_title">
                科学管控上菜时间
            </div>
            <div class="case_advantage_each_description">
                科学分析下单时间，科学安排，超时自动提醒，提高后厨效率
            </div>
        </div>

        <div class="case_advantage_each">
            <div class="case_advantage_each_image">
                <img src="__CDN__/assets/pc/image/解决方案/03-预定餐选餐/素材切图/13.png" >
            </div>

            <div class="case_advantage_each_title">
                自动接单
            </div>
            <div class="case_advantage_each_description">
                触屏收银机、台式电脑收银买单，移动设备买单，微信支付扫码核销
            </div>
        </div>

    </div>

</div>



<div class="wise_device_box">

    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            智能设备
        </div>
    </div>

    <div class="wise_device_content">

        <div class="wise_device_each">
            <div class="wise_device_each_image">
                <img src="__CDN__/assets/pc/image/解决方案/03-预定餐选餐/素材切图/14.png" >
            </div>

            <div class="wise_device_each_title">
                双屏核销机
            </div>

        </div>

        <div class="wise_device_each">
            <div class="wise_device_each_image">
                <img src="__CDN__/assets/pc/image/解决方案/03-预定餐选餐/素材切图/15.png" >
            </div>

            <div class="wise_device_each_title">
                智能点餐机
            </div>

        </div>

        <div class="wise_device_each">
            <div class="wise_device_each_image">
                <img src="__CDN__/assets/pc/image/解决方案/03-预定餐选餐/素材切图/16.png" >
            </div>

            <div class="wise_device_each_title">
                智能取餐机
            </div>

        </div>

    </div>

    <div class="go_top"  onclick="toToTop()">
        <img src="__CDN__/assets/pc/image/首页切图/素材切图/19.png">
    </div>

</div>

<script>
    function toToTop(){
        window.location.href = "#top";
    }
</script>