<link rel="stylesheet" href="__CDN__/assets/pc/css/solution_templates/self_help.css?v={$asset_version}">

<div class="plan_box">

    <div class="plan_box_left">

        <div class="part_title_box">
            <div class="part_title_bar">
            </div>
            <div class="part_title_text">
                方案概述
            </div>
        </div>

        <div class="plan_box_description">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;智能称重结算系统集成了称重传感模块和RFID读写装置，通过感应进入读写区域的托盘和菜盆打菜前后的重量变化，计算出取菜菜品重量，实现智能称重计量，无感自动支付，并通过显示菜品的营养成分和消费记录推荐提醒，并为食堂提供管理端进行报表分析、称重设备管理等平台，引导就餐者适量取餐，科学用餐。
        </div>

    </div>

    <div class="plan_box_right">
        <img src="__CDN__/assets/pc/image/解决方案/change0320/07.png" alt="智能称重结算系统" >
    </div>

</div>

<div class="use_canteen_process">

    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            就餐流程
        </div>
    </div>

    <div class="use_canteen_process_image">
        <img src="__CDN__/assets/pc/image/解决方案/change0320/08.png" alt="智能自助选参" >
    </div>

</div>

<div class="special_function_box">

    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            特色功能
        </div>
    </div>

    <div class="special_function_box_images">
        <img src="__CDN__/assets/pc/image/解决方案/change0320/自助餐特色功能/01.png" alt="人脸识别，身份绑定" >
        <img src="__CDN__/assets/pc/image/解决方案/change0320/自助餐特色功能/02.png" alt="称重计量，精确消费" >
        <img src="__CDN__/assets/pc/image/解决方案/change0320/自助餐特色功能/03.png" alt="智慧餐盘感应，无感支付" >
        <img src="__CDN__/assets/pc/image/解决方案/change0320/自助餐特色功能/04.png" alt="消费记录，食品安全溯源" >
        <img src="__CDN__/assets/pc/image/解决方案/change0320/自助餐特色功能/05.png" alt="营养报告，膳食提醒" >
        <img src="__CDN__/assets/pc/image/解决方案/change0320/自助餐特色功能/06.png" alt="营业报表，成本管控" >
    </div>

    <div class="go_top"  onclick="toToTop()">
        <img src="__CDN__/assets/pc/image/首页切图/素材切图/19.png">
    </div>

</div>

<script>
    function toToTop(){
        window.location.href = "#top";
    }
</script>
