<link rel="stylesheet" href="__CDN__/assets/pc/css/solution_templates/wise_canteen.css?v={$asset_version}">

<div class="current_situation_operate_box">

    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            现状分析
        </div>
    </div>

    <div class="current_situation_box">

        <div class="current_situation_item">
            <div class="current_situation_icon">
                <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/位置切图/images/01_20.png">
            </div>
            <div class="current_situation_role">
                消费者
            </div>

            <div class="current_situation_choice">
                <div class="current_situation_choice_text">
                    1.排队拥挤
                </div>
                <div class="current_situation_choice_text">
                    2.就餐时间长
                </div>
                <div class="current_situation_choice_text">
                    3.充卡繁琐
                </div>
                <div class="current_situation_choice_text">
                    4.容易丢卡
                </div>
                <div class="current_situation_choice_text">
                    5.支付方式少
                </div>
                <div class="current_situation_choice_text">
                    6.缺乏满意度评价
                </div>
                <div class="current_situation_choice_text">
                    7.人工收银出错
                </div>
                <div class="current_situation_choice_text">
                    8.消费记录无法查询
                </div>
                <div class="current_situation_choice_text">
                    9.余额无法查询
                </div>
            </div>
        </div>

        <div class="current_situation_item">
            <div class="current_situation_icon">
                <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/位置切图/images/01_22.png">
            </div>

            <div class="current_situation_role">
                食堂方（运营方）
            </div>

            <div class="current_situation_choice">
                <div class="current_situation_choice_text">
                    1.排队拥挤
                </div>
                <div class="current_situation_choice_text">
                    2.人工收银出错
                </div>
                <div class="current_situation_choice_text">
                    3.运营粗放
                </div>
                <div class="current_situation_choice_text">
                    4.人力成本高
                </div>
                <div class="current_situation_choice_text">
                    5.采购及出品凭经验
                </div>
                <div class="current_situation_choice_text">
                    6.浪费严重
                </div>
                <div class="current_situation_choice_text">
                    7.外卖冲击
                </div>
                <div class="current_situation_choice_text">
                    8.营业数据统计对账难
                </div>
            </div>
        </div>

        <div class="current_situation_item">
            <div class="current_situation_icon">
                <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/位置切图/images/01_25.png">
            </div>

            <div class="current_situation_role">
                甲方（管理方）
            </div>

            <div class="current_situation_choice">
                <div class="current_situation_choice_text">
                    1.员工投诉
                </div>
                <div class="current_situation_choice_text">
                    2.食安监督
                </div>
                <div class="current_situation_choice_text">
                    3.充值管理复杂
                </div>
                <div class="current_situation_choice_text">
                    4.外卖冲击食堂
                </div>
                <div class="current_situation_choice_text">
                    5.缺乏满意度评价
                </div>
                <div class="current_situation_choice_text">
                    6.人工收银错误
                </div>
                <div class="current_situation_choice_text">
                    7.无法统一管理多食堂
                </div>
            </div>
        </div>


    </div>

    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            运营目标
        </div>
    </div>

    <div class="operate_target_box">

        <div class="operate_target_item">
            <div class="operate_target_item_icon">
                <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/09.png">
            </div>
            <div class="operate_target_item_text">
                便捷高效
            </div>
        </div>

        <div class="operate_target_item">
            <div class="operate_target_item_icon">
                <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/10.png">
            </div>
            <div class="operate_target_item_text">
                品质健康化
            </div>
        </div>

        <div class="operate_target_item">
            <div class="operate_target_item_icon">
                <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/11.png">
            </div>
            <div class="operate_target_item_text">
                体验满意度
            </div>
        </div>

        <div class="operate_target_item">
            <div class="operate_target_item_icon">
                <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/12.png">
            </div>
            <div class="operate_target_item_text">
                智能信息化
            </div>
        </div>

        <div class="operate_target_item">
            <div class="operate_target_item_icon">
                <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/13.png">
            </div>
            <div class="operate_target_item_text">
                成本控制
            </div>
        </div>

        <div class="operate_target_item">
            <div class="operate_target_item_icon">
                <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/14.png">
            </div>
            <div class="operate_target_item_text">
                数据化运营
            </div>
        </div>

        <div class="operate_target_item">
            <div class="operate_target_item_icon">
                <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/15.png">
            </div>
            <div class="operate_target_item_text">
                统一管控
            </div>
        </div>

    </div>

</div>

<div class="case_description_box">
    <div class="case_description_text_box">

        <div class="case_description_text_title">
            智慧食堂解决方案
        </div>
        <div class="case_description_text_content">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“戈子科技智慧食堂”方案是一套专注满足团餐行业，覆盖餐饮管理全流程的团餐管理信息化解决方案，能够为食堂提供全新的 “移动互联”信息化服务，帮助企业摒弃传统餐饮管理弊端，直达运营管理核心，由内而外打造理念超前、技术先进的智慧食堂解决方案。
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;解决方案分为“订餐管理” 、“就餐管理” 、“食堂管理” 、 “企业监管” 四个模块，细分为在线订餐、智能支付、视觉结算、后台管理、企业管控等方面，同时可以提供餐具、定制化开发等一系列配套产品和服务，全面满足企业管控，食堂运营，职工就餐的多元化，定制化需求。
        </div>

    </div>
    <div class="case_description_image">
        <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/16.jpg">
    </div>
</div>



<div class="function_box">
    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            功能架构
        </div>
    </div>

    <div class="function_box_item">
        <div class="function_box_title">

            <img class="function_box_title_img" src="__CDN__/assets/pc/image/pc_polyfill/1.png" alt="应用场景"/>

        </div>
        <div class="function_box_content">
            <div class="function_box_content_each">
                <img class="function_box_content_each_img" src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/18.png">
            </div>
            <div class="function_box_content_each">
                <img class="function_box_content_each_img" src="__CDN__/assets/pc/image/pc_polyfill/未标题-1_08.jpg">
            </div>
            <div class="function_box_content_each">
                <img class="function_box_content_each_img" src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/20.png">
            </div>
            <div class="function_box_content_each">
                <img class="function_box_content_each_img" src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/21.png">
            </div>
        </div>
    </div>

    <div class="function_box_item">
        <div class="function_box_title">
            <img class="function_box_title_img" src="__CDN__/assets/pc/image/pc_polyfill/2.png" alt="特色功能"/>
        </div>
        <div class="function_box_content">
            <div class="function_box_content_each">

                <div class="function_box_content_each_list">
                    <div class="function_box_content_each_li">
                        AI视觉结算
                    </div>
                    <div class="function_box_content_each_li">
                        人脸识别支付
                    </div>
                    <div class="function_box_content_each_li">
                        扫码、刷卡支付
                    </div>
                    <div class="function_box_content_each_li">
                        食品安全溯源
                    </div>
                    <div class="function_box_content_each_li">
                        营养分析
                    </div>

                </div>


            </div>
            <div class="function_box_content_each">
                <div class="function_box_content_each_list">
                    <div class="function_box_content_each_li">
                        智能称重结算
                    </div>
                    <div class="function_box_content_each_li">
                        人脸识别
                    </div>
                    <div class="function_box_content_each_li">
                        RFID感应
                    </div>
                    <div class="function_box_content_each_li">
                        无感支付
                    </div>
                    <div class="function_box_content_each_li">
                        菜价标签
                    </div>
                </div>
            </div>
            <div class="function_box_content_each">
                <div class="function_box_content_each_list">
                    <div class="function_box_content_each_li">
                        微信订餐
                    </div>
                    <div class="function_box_content_each_li">
                        在线充值
                    </div>
                    <div class="function_box_content_each_li">
                        智能配送
                    </div>
                    <div class="function_box_content_each_li">
                        团体餐、包厢预定
                    </div>
                    <div class="function_box_content_each_li">
                        消费记录查询
                    </div>
                    <div class="function_box_content_each_li">
                        退款申诉
                    </div>
                </div>
            </div>
            <div class="function_box_content_each">
                <div class="function_box_content_each_list">
                    <div class="function_box_content_each_li">
                        自助点餐
                    </div>
                    <div class="function_box_content_each_li">
                        人脸识别
                    </div>
                    <div class="function_box_content_each_li">
                        扫码刷卡
                    </div>
                    <div class="function_box_content_each_li">
                        消费记录查询
                    </div>
                    <div class="function_box_content_each_li">
                        订单核销
                    </div>
                    <div class="function_box_content_each_li">
                        快速结算
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="function_box_item">
        <div class="function_box_title">
            <img class="function_box_title_img" src="__CDN__/assets/pc/image/pc_polyfill/3.png" alt="智能硬件"/>

        </div>
        <div class="function_box_content">
            <div class="function_box_content_each">
                <img class="function_box_content_each_img" src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/22.png">
            </div>
            <div class="function_box_content_each">
                <img class="function_box_content_each_img" src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/23.png">
            </div>
            <div class="function_box_content_each">
                <img class="function_box_content_each_img" src="__CDN__/assets/pc/image/pc_polyfill/solution1.png">
            </div>
            <div class="function_box_content_each">
                <img class="function_box_content_each_img" src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/25.png">
            </div>
        </div>
    </div>

    <div class="function_box_item">
        <div class="function_box_title">
            <img class="function_box_title_img" src="__CDN__/assets/pc/image/pc_polyfill/4.png" alt="软件配置"/>
        </div>
        <div class="function_box_content">
            <div class="function_box_content_each software_config_each">
                <div class="software_config_icon">
                    <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/26.png">
                </div>
                <div class="software_config_name">
                    报表统计
                </div>
            </div>
            <div class="function_box_content_each software_config_each">
                <div class="software_config_icon">
                    <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/27.png">
                </div>
                <div class="software_config_name">
                    支付管理
                </div>
            </div>
            <div class="function_box_content_each software_config_each">
                <div class="software_config_icon">
                    <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/28.png">
                </div>
                <div class="software_config_name">
                    菜谱管理
                </div>
            </div>
            <div class="function_box_content_each software_config_each">
                <div class="software_config_icon">
                    <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/29.png">
                </div>
                <div class="software_config_name">
                    设备管理
                </div>
            </div>
            <div class="function_box_content_each software_config_each">
                <div class="software_config_icon">
                    <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/30.png">
                </div>
                <div class="software_config_name">
                    菜品管理
                </div>
            </div>
            <div class="function_box_content_each software_config_each">
                <div class="software_config_icon">
                    <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/31.png">
                </div>
                <div class="software_config_name">
                    退款管理
                </div>
            </div>
            <div class="function_box_content_each software_config_each">
                <div class="software_config_icon">
                    <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/32.png">
                </div>
                <div class="software_config_name">
                    人员信息管理
                </div>
            </div>
            <div class="function_box_content_each software_config_each">
                <div class="software_config_icon">
                    <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/33.png">
                </div>
                <div class="software_config_name">
                    订单管理
                </div>
            </div>
            <div class="function_box_content_each software_config_each">
                <div class="software_config_icon">
                    <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/34.png">
                </div>
                <div class="software_config_name">
                    多食堂管理
                </div>
            </div>
        </div>
    </div>

</div>


<div class="advantage_compare_box">

    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            优势对比
        </div>
    </div>

    <div class="advantage_content_box">
        <div class="advantage_img">
            <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/advantage.png">
        </div>

        <div class="advantage_list_box">

            <div class="advantage_list_each">
                <div class="advantage_list_each_left">
                    根据订单<font color='#34AFF4'>精准预算食材用量，减少浪费</font>
                </div>
                <div class="advantage_list_each_middle">
                    备餐方式
                </div>
                <div class="advantage_list_each_right">
                    按照食堂人员的经验备餐，易造成浪费
                </div>
            </div>

            <div class="advantage_list_each">
                <div class="advantage_list_each_left">
                    <font color='#34AFF4'>线上订餐</font>与扫码就餐等方式，<font color='#34AFF4'>减少排队时间</font>
                </div>
                <div class="advantage_list_each_middle">
                    就餐方式
                </div>
                <div class="advantage_list_each_right">
                    排队选餐以及现场刷卡支付，导致时间较长
                </div>
            </div>

            <div class="advantage_list_each">
                <div class="advantage_list_each_left">
                    支持扫码、刷卡、人脸支付等<font color='#34AFF4'>多种支付方式</font>
                </div>
                <div class="advantage_list_each_middle">
                    支付方式
                </div>
                <div class="advantage_list_each_right">
                    仅仅支持到现场刷卡
                </div>
            </div>

            <div class="advantage_list_each">
                <div class="advantage_list_each_left">
                    <font color='#34AFF4'>线上收集菜品建议和员工评价</font>，更加及时便捷
                </div>
                <div class="advantage_list_each_middle">
                    反馈评价
                </div>
                <div class="advantage_list_each_right">
                    获取时间较长，成本较高，渠道单一
                </div>
            </div>

            <div class="advantage_list_each">
                <div class="advantage_list_each_left">
                    <font color='#34AFF4'>数据可视化技术</font>，为改善食堂管理提供支持
                </div>
                <div class="advantage_list_each_middle">
                    经营管理
                </div>
                <div class="advantage_list_each_right">
                    具有滞后性，无法及时发现和改善问题
                </div>
            </div>

            <div class="advantage_list_each">
                <div class="advantage_list_each_left">
                    支持，<font color='#34AFF4'>能迅速追溯食材采购源头等信息</font>
                </div>
                <div class="advantage_list_each_middle">
                    食品安全
                </div>
                <div class="advantage_list_each_right">
                    缺乏对食材从采购到成本全程记录及管控
                </div>
            </div>

        </div>


    </div>

</div>

<div style="height: 20px;background-color: rgb(224,224,224)" >
</div>


<div class="apply_custom">

    <div class="part_title_box">
        <div class="part_title_bar">
        </div>
        <div class="part_title_text">
            应用客户
        </div>
    </div>

    <div class="apply_custom_images">
        <div class="apply_custom_every_row">
            <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/40.png">
            <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/41.png">
            <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/42.png">
            <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/43.png">
        </div>
        <div class="apply_custom_every_row">
            <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/44.png">
            <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/45.png">
            <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/46.png">
            <img src="__CDN__/assets/pc/image/解决方案/01智慧食堂解决方案/素材切图/47.png">
        </div>

    </div>

    <div class="go_top"  onclick="toToTop()">
        <img src="__CDN__/assets/pc/image/首页切图/素材切图/19.png">
    </div>

</div>


<script>
    function toToTop(){
        window.location.href = "#top";
    }
</script>